.top-bar_nav {
    padding: 0px;
}
.top-bar_nav {
    z-index: 0;
}
.nav {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    background-color: white;
    z-index: 1000;
}
.button {
    color: white !important;
}
.nav-dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0px;
}
.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-list a:hover {
    background-color: #f1f1f1;
}
.nav-dropdown:hover .dropdown-list {
    display: block;
}
.nav-dropdown-toggle {
    cursor: pointer;
}
.survey-template-questions-container .text-rich-text h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.survey-template-questions-container .text-rich-text p {
    margin-left: 0rem;
    margin-bottom: 1.15rem;
    font-size: 1rem;
    font-style: italic
}
.survey-template-questions-container .text-rich-text ol {
    margin-left: 1.5rem;
    list-style-type: lower-alpha;
}
.survey-template-questions-container .text-rich-text ol li {
    margin-left: 0rem;
    font-size: 1rem
}